:root {

/* Colors: */
--unnamed-color-42a6ef: #42A6EF;
--unnamed-color-28d9a3: #28D9A3;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-000705: #000705;
--unnamed-color-707070: #707070;
--unnamed-color-1fb789: #1FB789;
--unnamed-color-587e9a: #587E9A;
--unnamed-color-8b33d6: #8B33D6;
--unnamed-color-28d9a393: #28D9A3;
--unnamed-color-28d9a362: #28D9A3;

/* Font/text values */
--unnamed-font-family-playfair-display: Playfair Display;
--unnamed-font-style-regular: Regular;
--unnamed-font-size-24: 24px;
--unnamed-font-size-32: 32px;
--unnamed-font-size-40: 40px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-43: 43px;
--unnamed-line-spacing-53: 53px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-playfair-display);
font-style: var(--unnamed-font-style-regular);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000705);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-playfair-display);
font-style: var(--unnamed-font-style-regular);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-playfair-display);
font-style: var(--unnamed-font-style-regular);
font-size: var(--unnamed-font-size-32);
line-height: var(--unnamed-line-spacing-43);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000705);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-playfair-display);
font-style: var(--unnamed-font-style-regular);
font-size: var(--unnamed-font-size-32);
line-height: var(--unnamed-line-spacing-43);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-playfair-display);
font-style: var(--unnamed-font-style-regular);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-53);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-6 {
font-family: var(--unnamed-font-family-playfair-display);
font-style: var(--unnamed-font-style-regular);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-53);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000705);
}