.jbgDiv {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 390px 300px 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
}

.toc {
  position: absolute;
}

.tocDiv {
  grid-row: 3;
  grid-column: 2;
}

.entriesDiv {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 5;
}

.entriesList {
  margin-top: 60px;
}

.journalBackground {
  justify-content: center;
  position: relative;
  z-index: -1;
  margin: 0 auto;
  max-width: 1200px;
  transform: scale(1.2);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

}