.egyptPortalLink {
  height: 100px;
  width: 150px;
  position: absolute;
}

.officeDiv {
  max-width: 1200px;
  margin: 0 auto;

}



.officeImg {
  justify-content: center;
  position: relative;
  z-index: -1;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 2000px) {
  .nativePortalLink {
    padding-bottom: 15vw;
    padding-left: 15vw;
    top: 8vw;
    left: 25vw;
    position: absolute;
  }

  .egyptPortalLink {
    padding-bottom: 15vw;
    padding-right: 18vw;
    top: 20vw;
    left: 75vw;
    position: absolute;
  }

  .pacificPortalLink {
    padding-bottom: 20vw;
    padding-left: 10vw;
    top: 30vw;
    left: 30vw;
    position: absolute;
  }


  .thought {
    position: absolute;
    display: inline;
    left: 40vw;
    top: 10vw;
    background-color:#fff;
    padding:5px;
    border-radius:30px;
    width: 30%;
    max-width:500px;
    min-width: 40px;
    text-align:center;
    opacity: 0.9;
  }
  
}

@media screen and (max-width: 1200px) {
  .nativePortalLink {
    padding-bottom: 15vw;
    padding-left: 10vw;
    top: 12vw;
    left: 25vw;
    position: absolute;
  }

  .egyptPortalLink {
    padding-bottom: 15vw;
    padding-right: 18vw;
    top: 25vw;
    left: 80vw;
    position: absolute;
  }

  .pacificPortalLink {
    padding-bottom: 20vw;
    padding-left: 10vw;
    top: 35vw;
    left: 26vw;
    position: absolute;
  }
}