body {
  

}
.col {
  border: solid 5px pink;
}
.egyptPortalLink {
  border: solid 3px white;
  height: 100px;
  width: 150px;
  position: absolute;
}

.pacificPortalLink {
  border: solid 3px red;
  height: 150px;
  width: 100px;
  position: absolute;
}

.nativePortalLink {
  border: solid 3px blue;
  height: 200px;
  width: 200px;
  position: absolute;
}
