.profileBackground {
    min-width: 100%;
    min-height: 90vh;
    background-image: url('/profile-background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.savedArtifacts{
    width: 100%;
    height: auto;
}

.test {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageRow {
    width:100%;
    height:100%;
}